.layer1 {
	background-image: url('images/kaliningradskaja-oblast.gif');
    background-repeat: no-repeat;
	background-position: 50% -30%;
	background-size: 80%;
}

#fDiv2 {
	background-color: #ADD8E6;
}

#h01 {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
}

#s1 {
	text-align: center;
}

#fDiv1 {
	outline: 2px solid #8B4513;
	padding: 20px;
	margin-left: auto;
    margin-right: auto;
	display: table;
	max-width: 600px;
	background-color: lightgoldenrodyellow;
	border: 10px solid #fff;
	border-radius: 10px;
}

#in3 {
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: rgb(212,75,56);
	padding: 5px 10px;
	outline: none;
    margin-left: 40px;
	border-radius: 10px;
}

#in3:hover   {
	background: rgb(232,95,76);
}
#in3:active {
	background: rgb(152,15,0);
}

#in1 {
	border-radius: 10px;
}

.ui-menu {
	position: absolute;
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	float: left;
	background-color: #ffffff;
	border: 1px solid;
	border-radius: 5px;
}

.ui-state-focus {
	background-color: lightgoldenrodyellow;
	border: 1px solid black;
}

.ui-helper-hidden-accessible {
	position: absolute; left:-999em;
}


